# ==========================================
# TENANT GENERAL CONFIGURATION
# ==========================================
PLAYWRIGHT_TENANT_RUC=

# ==========================================
# USER 1: RETAIL (WITHOUT DISPATCH)
# Branch: Wanqara Comercios 100
# ==========================================
PLAYWRIGHT_RETAIL_EMAIL=
PLAYWRIGHT_RETAIL_PASSWORD=

# ==========================================
# USER 2: RETAIL (WITH DISPATCH)
# Branch: Wanqara Comercios Dispatch 101
# ==========================================
PLAYWRIGHT_DISPATCH_EMAIL=
PLAYWRIGHT_DISPATCH_PASSWORD=

# ==========================================
# USER 3: RESTAURANT
# Branch: Wanqara Restaurant 102
# ==========================================
PLAYWRIGHT_RESTAURANT_EMAIL=
PLAYWRIGHT_RESTAURANT_PASSWORD=

# ==========================================
# CHEF CONFIGURATION (Used by Restaurant)
# ==========================================
PLAYWRIGHT_CHEF_URL=
PLAYWRIGHT_CHEF_RUC=
PLAYWRIGHT_CHEF_EMAIL=
PLAYWRIGHT_CHEF_PASSWORD=

# ==========================================
# DYNAMIC ASSIGNMENT (ELECTRONIC INVOICING)
# ==========================================
PLAYWRIGHT_RESTAURANT_SUBSIDIARY=