# ====================================================================================
# INFRASTRUCTURE CONFIGURATION (WANQARA)
# ====================================================================================
PLAYWRIGHT_WANQARA_PORT=5175
PLAYWRIGHT_TENANT_RUC=

# QA ACTORS 
# ==========================================
# Actor 1 - User fot actions - github
PLAYWRIGHT_ACTOR_1_EMAIL=
PLAYWRIGHT_ACTOR_1_PASSWORD=

# Actor 2 
PLAYWRIGHT_ACTOR_2_EMAIL=
PLAYWRIGHT_ACTOR_2_PASSWORD=

# Actor 3 
PLAYWRIGHT_ACTOR_3_EMAIL=
PLAYWRIGHT_ACTOR_3_PASSWORD=


# EXTERNAL DEPENDENCIES OF WANQARA (CHEF)
# ==========================================
PLAYWRIGHT_CHEF_URL=https://chef.wanqara360.org

# Chef Actor 1
PLAYWRIGHT_CHEF_ACTOR_1_RUC=
PLAYWRIGHT_CHEF_ACTOR_1_EMAIL=
PLAYWRIGHT_CHEF_ACTOR_1_PASSWORD=
PLAYWRIGHT_CHEF_ACTOR_1_WORKSTATION_CODE=1735




# ====================================================================================
# INFRASTRUCTURE CONFIGURATION (WANQARA-CHEF)
# (These variables do not cross with Wanqara)
# Not yet refactored
# ====================================================================================
PLAYWRIGHT_LOCAL_CHEF_URL=http://localhost:8100
PLAYWRIGHT_LOGIN_EMAIL=
PLAYWRIGHT_LOGIN_PASSWORD=
PLAYWRIGHT_WORKSTATION_CODE=1735
PLAYWRIGHT_SUBSIDIARY="Wanqara 001"
# DEPENDENCIAS EXTERNAS DE WANQARA (POS)
# ==========================================
PLAYWRIGHT_POS_URL=





# ====================================================================================
# ENVIRONMENT FLAGS AND QA UTILITIES (not required for tests)
# ====================================================================================
EXTRACT_FINANCIALS=true
PLAYWRIGHT_SEEDED=true
PLAYWRIGHT_SKIP_RELOGIN=false
PLAYWRIGHT_AUTH_DEBUG=0